<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lixxy.depositplan.dao.SaveRecordMapper">
    <resultMap id="BaseResultMap" type="com.lixxy.depositplan.model.SaveRecordBean">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="plan_id" property="planId" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="money" property="money" jdbcType="BIGINT" />
        <result column="is_saved" property="isSaved" jdbcType="INTEGER" />
        <result column="is_del" property="isDel" jdbcType="INTEGER" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="saved_date" property="savedDate" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List">
    id, plan_id, user_id, money, is_saved, create_date, saved_date
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from saved_record
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from saved_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.lixxy.depositplan.model.SaveRecordBean">
    insert into saved_record (plan_id, user_id,
      money, is_saved, is_del, 
      create_date, saved_date)
    values (#{planId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
      #{money,jdbcType=BIGINT}, #{isSaved,jdbcType=INTEGER}, #{isDel,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{savedDate,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.lixxy.depositplan.model.SaveRecordBean">
        insert into saved_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="planId != null">
                plan_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="isSaved != null">
                is_saved,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="savedDate != null">
                saved_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="planId != null">
                #{planId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="money != null">
                #{money,jdbcType=BIGINT},
            </if>
            <if test="isSaved != null">
                #{isSaved,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="savedDate != null">
                #{savedDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
        parameterType="com.lixxy.depositplan.model.SaveRecordBean">
        update saved_record
        <set>
            <if test="planId != null">
                plan_id = #{planId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=BIGINT},
            </if>
            <if test="isSaved != null">
                is_saved = #{isSaved,jdbcType=INTEGER},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=INTEGER},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="savedDate != null">
                saved_date = #{savedDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lixxy.depositplan.model.SaveRecordBean">
    update saved_record
    set plan_id = #{planId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      money = #{money,jdbcType=BIGINT},
      is_saved = #{isSaved,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      saved_date = #{savedDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectSaveRecordByUserIdAndPlanId" resultMap="BaseResultMap"
        parameterType="java.util.Map">
        select
        <include refid="Base_Column_List" />
        from saved_record
        where user_id = #{userId,jdbcType=INTEGER}
        AND plan_id = #{planId,jdbcType=INTEGER}
        AND is_del = 0
    </select>

    <select id="selectSavedByPlanId" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List" />
        from saved_record
        where is_saved = 1
        AND plan_id = #{planId,jdbcType=INTEGER}
        AND is_del = 0
    </select>

    <select id="selectTodayRecordByPlanId" resultMap="BaseResultMap"
        parameterType="java.util.Map">
        select
        <include refid="Base_Column_List" />
        from saved_record
        where
        plan_id = #{planId,jdbcType=INTEGER}
        AND to_days(create_date) = to_days(now())
        AND is_del = 0
    </select>

    <select id="getLastInsertId" resultType="java.lang.Integer">
        select LAST_INSERT_ID()
    </select>

</mapper>